---
import { Image } from 'astro:assets';
import { formatProductPrice } from '~/lib/currency.ts';
import type { Product } from 'storefront:client';
import { twMerge } from 'tailwind-merge';
import Card from '~/components/ui/Card.tsx';
import { ProductPrice } from './ProductPrice.tsx';

interface Props extends Product {
	class?: string;
	elementId?: string | null;
	imageLoading?: 'eager' | 'lazy';
}

const { class: className, elementId, imageLoading, ...product } = Astro.props;
---

<a
	href={`/${product.slug}`}
	class={twMerge(`group relative block w-full focus-visible:ring-0`, className)}
	id={elementId ?? undefined}
	aria-label={`${product.name} for ${formatProductPrice(product.price)}`}
>
	<article>
		<Card class="flex aspect-[5/6] items-center justify-center">
			<Image
				src={new URL(product.imageUrl, Astro.url).href}
				alt={product.name}
				width={290}
				height={290}
				loading={imageLoading ?? 'lazy'}
				densities={[1, 1.5, 2]}
				draggable="false"
			/>
		</Card>
		<div class="flex flex-col gap-2 p-2 font-medium">
			<h3 class="text-pretty leading-tight text-theme-base-900">{product.name}</h3>
			<p class="text-lg/tight text-theme-base-600">
				<ProductPrice price={product.price} discount={product.discount} />
			</p>
		</div>
	</article>
	<div
		class="pointer-events-none absolute inset-0 ring-inset ring-theme-base-900 group-focus-visible:ring-2"
	>
	</div>
</a>
